/* RestaurantContainerCSS.css */

.container {
  text-align: center;


}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-style: italic;
  margin-bottom: 20px;
}

.restaurant-list {
 
  width: 90%; /* Set the width of the restaurant list to 90% of its container */
  margin: 0 auto; /* Center the restaurant list horizontally */
  display: flex; /* Use flexbox layout for the restaurant list */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-around; /* Space items evenly with some space around them */
  padding-top: 10px; /* Padding at the top of the restaurant list */
  margin-top: 40px; /* Margin at the top of the restaurant list */
  flex-direction: row;
  align-content: center;
  
  
  

} 

.restaurant-row {
      display: flex;
      justify-content: space-between; /* Adjust as needed */
      margin-bottom: 20px; /* Add margin between rows */
    }

.EachRestaurant{
  width: calc(50% - 20px); /* Set the width of each restaurant box to half of the container width */
  margin-bottom: 20px; /* Margin at the bottom of each restaurant box */
  padding: 10px; /* Padding around each restaurant box */
  border: 1px solid #ccc; /* Border around each box */
  border-radius: 8px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  transition: all 0.3s ease-in-out; /* Smooth transition for layout changes */
  display: block;
  margin-right: 20px;
  padding-top: 10px;
  margin-top: 30px;
  background-color: rgb(236, 215, 210);


}


.form-submit-button {
  background: #fbbda0;
  color: white;
  border-style: outset;
  border-color: #eeb68c;
  height: 20px;
  width: 80px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  margin-left: 10px;
  }

  input[type=text] {
      border: 2px solid red;
      border-radius: 4px;
      margin-left: 20px;
    }

.nameRestaurant{
  color: rgb(220, 138, 31);
 

}

em{
  color:coral;
}

